@page "/"
@using OpenAttendanceManagement.Domain.Aggregates.OamTenants.Queries
@using OpenAttendanceManagement.Domain.Aggregates.OamTenants.ValueObjects
@using OpenAttendanceManagement.Domain.Aggregates.Queries
@using OpenAttendanceManagement.Web.Apis
@inject TokenService TokenService
@inject NavigationManager NavigationManager
@inject TenantApiClient TenantApiClient;
@inject UserApiClient UserApiClient;
@inject TenantInformation TenantInformation;
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table class="table">
    <thead>
    <tr>
        <th>Tenant Code</th>
        <th>Tenant Name</th>
        <th>IsActive</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tenant in TenantInformation.Tenants)
    {
        <tr>
            <td>@tenant.TenantCode</td>
            <td>@tenant.TenantName</td>
            <td>
                @if (tenant.TenantId == TenantInformation.Tenant.Value?.TenantId)
                {
                    <span>Current</span>
                }
                else
                {
                    <button class="btn btn-info" @onclick="() => ChangeTenant(tenant)">Change to Current</button>
                }
            </td>
        </tr>
    }
    @switch (MyUserInformation)
    {
        case { IsSuccess : false } failure:
            <p>@failure.GetException().Message</p>
            break;
        case { IsSuccess: true } success:
        {
            var user = success.GetValue();
            switch (user.CurrentUserState, user.ExistingUser.HasValue)
            {
                case (nameof(OamUnconfirmedTenantUserInformation), true):
                    <button>Join Tenant @TenantInformation.Tenant.GetValue().TenantCode</button>
                    break;
                default:
                    <p>
                        No Invitation for the @TenantInformation.Tenant.Match(v => v.TenantCode, () => "[no tenant]") yet. Please ask administarator to add your email address.
                        @TokenService.SavedEmail.Match(v => v, () => "[no email]")
                    </p>
                    break;
            }

            break;
        }
    }
    </tbody>
</table>


@code {
    ResultBox<MyUserInformationQuery.Result> MyUserInformation { get; set; } = ResultBox<MyUserInformationQuery.Result>.FromException(new ApplicationException("Not loaded yet"));

    protected override Task OnParametersSetAsync()
        => TokenService.GetTokenAndRoleAsync()
            .Scan(_ => { }, _ => NavigationManager.NavigateTo("/login"))
            .Conveyor(() => TenantApiClient.GetMyTenants())
            .Scan(async () =>
            {
                if (TenantInformation.Tenant.HasValue)
                {
                    MyUserInformation = await UserApiClient.GetMyTenantUser();
                }
                else
                {
                    MyUserInformation = ResultBox<MyUserInformationQuery.Result>.FromException(new ApplicationException("You don't have tenant invitation yet."));
                }

                StateHasChanged();
            });

    private async Task ChangeTenant(BelongingTenantQuery.Record toChange)
    {
        TenantInformation.ChangeTenant(toChange.TenantId);
        if (TenantInformation.Tenant.HasValue)
        {
            MyUserInformation = await UserApiClient.GetMyTenantUser();
            StateHasChanged();
        }
    }

}